<div class="row-fluid">
    <div class="span12">
    	<legend><h4>Dashboard: </h4></legend>
    </div>
    <div class="span5">
		<div class="panel panel-default">
			<div class="panel-heading">Upcoming Trainees workout</div>
			<div class="panel-body">
				<table class="table table-hover">
					<tr>
						<th> Week
						</th>
						<th> Name
						</th>
						<th> update
						</th>
					</tr>
					<% _.each(trainees, function(trainee) {%>
					<tr>
						<td> week 1
						</td>
						<td> <%= trainee.name %>
						</td>
						<td> <a href=# class="update" data-value="<%= trainee.id %>" >update</a>
						</td>
					</tr>
					<% }); %>
				</table>
			</div>
		</div>
	</div>
	<div class="span5">
		<div class="panel panel-default">
		<div class="panel-heading">Total No Of Trainees</div>
		<div class="panel-body">
		<table class="table table-hover">
					<tr>
						<td> Over All
						</td>
						<td> 78
						</td>
					</tr>
					<tr>
						<td> This month
						</td>
						<td> 10
						</td>
					</tr>
					<tr>
						<td> Last month
						</td>
						<td> 5
						</td>
					</tr>
					<tr>
						<td> This month Expiring Trainees
						</td>
						<td> 5
						</td>
					</tr>
				</table>
		</div>
		</div>
	</div>
	<div class="span5">
		<div class="panel panel-default">
			<div class="panel-heading">Weekly Progress</div>
			<div class="panel-body">
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="span5">
		<div class="panel panel-default">
			<div class="panel-heading">Program Progress</div>
			<div class="panel-body">
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
				    <span class="sr-only">30% Complete</span>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="span5">
		<div class="panel panel-default">
		<div class="panel-heading">Body Calulations</div>
		<div class="panel-body">
			<table class="table table-hover">
					<tr>
						<td> Weight
						</td>
						<td> <%= user.weight %> lbs
						</td>
					</tr>
					<tr>
						<td> Height
						</td>
						<td> <%= user.height %>
						</td>
					</tr>
					<tr>
						<td> Age
						</td>
						<td> <%= user.age %>
						</td>
					</tr>
					<tr>
						<td> BMI
						</td>
						<td> Above Average
						</td>
					</tr>
					
				</table>
		</div>
		</div>
	</div>
</div>
