<div class="row-fluid">
	<div class="span12">
    	<legend><h4>Profile </h4></legend>
    </div>
    <div class="span12">

        <div class="span2">
		<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-2 col-md-4">
		      <img src="<%= picture %>" style="width:200px;height:228px;">
		    </div>
		</div>
		</div>
		</div>

		<div class="span6">
		<div class="panel panel-default">
		<div class="panel-heading">Personal Info <div class="pull-right"> <a value="<%= id %>">Edit</a></div></div>
		<div class="panel-body">
			<div class="col-sm-6 col-md-4">
				<p> Name : <%= name %> </p>
				<p> Age : <%= type %> </p>
				<p> Email : <%= email %> </p>
				<p> Type : <%= type %> </p>
				<p> Height : <%= height %> </p>
				<p> Weight : <%= weight %> </p>
		  	</div>
		</div>
		</div>
		</div>

		<div class="span2">
		<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-2 col-md-4">
		      <img src="<%= bodyPicture %>" style="width:200px;height:228px;">
		    </div>
		</div>
		</div>
		</div>

    </div>
</div>