<div class="row-fluid">

    <form class="form-horizontal span12">

        <fieldset>

            <legend><h4>Details</h4>
            <p> This will help us to customize the workout specific for your needs.</p>
            </legend>
            
            <br/>

            <div class="row">
                <div class="span8">

                    <div class="control-group">
                        <label for="name" class="control-label">Age:</label>

                        <div class="controls">
                            <input type="text" id="age" name="age" value="<%= age %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="name" class="control-label">Height:</label>

                        <div class="controls">
                            <input type="text" id="height" name="height" value="<%= height %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="grapes" class="control-label">Weight:</label>

                        <div class="controls">
                            <input type="text" id="weight" name="weight" value="<%= weight %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="country" class="control-label">Site:</label>

                        <div class="controls">
                            <input type="text" id="siteUrl" name="siteUrl" value="<%= siteUrl %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="region" class="control-label">Description:</label>

                        <div class="controls">
                            <textarea rows="4" cols="50" id="description" name="description"> </textarea> 
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="region" class="control-label">Body Picture:</label>

                        <div class="controls">
                            <input type="file" id="bodyPicture" name="bodyPicture" /> 
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="region" class="control-label"></label>

                        <div class="controls">
                            <a href="#" class="btn btn-primary save">Save</a>
                            <a href="#register" class="btn">Reset</a>
                        </div>
                    </div>

                </div>

            </div>

        </fieldset>

    </form>

</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Wine saved successfully
        </div>
    </div>
</div>