<div class="row-fluid" id="trainerCollection">
	<div class="span12"><legend><h4>Online Trainers</h4></legend></div>
	<% _.each(clients, function(trainer){ %>
        <div class="span5">
		<div class="panel panel-default">
		<div class="panel-heading"><%= trainer.name %></div>
		<div class="panel-body">
			<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="<%= trainer.picture %>" style="width:200px;height:228px;">
		      <div class="caption">
		        <h3><%= trainer.name %></h3>
		        <p>Rating: <%= trainer.ratings %></p>
		        <p>Site: <%= trainer.siteUrl %></p>
		        <p>Description: <%= trainer.description %></p>
		      </div>
		    </div>
		  </div>
		</div>
		</div>
	</div>
    <% }); %>
</div>