<div class="row-fluid" id="trainerCollection">
	<div class="span12"><legend><h4><%= name %></h4></legend>
		<div class="span10">
		<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="<%= picture %>" style="width:200px;height:228px;">
		      <div class="caption">
		        <h3><%= name %></h3> <div class="pull-right">
				<button class="btn btn-default Subscribe" value="<%= id %>" type="submit">Subscribe</button></div>
		        <p>Rating: <%= ratings %></p>
		        <p>Site: <%= siteUrl %></p>
		        <p>Description: <%= description %></p>
		      </div>
		    </div>
		  </div>
		</div>
		</div>
	</div>
	</div>
</div>